@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0B1120;
  --color-secondary: #fbfbfb;
  --color-secondary-1: #9cd4af;
  --color-secondary-2: #75ccc3;
  --color-secondary-3: #d7e48a;
}

.bg-blend-secondary {
  background: linear-gradient(135deg, var(--color-secondary-1) 0%, var(--color-secondary-2) 50%, var(--color-secondary-3) 100%);
}

.font-caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.font-Geist {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.scrollbar_hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 3D Utilities */
.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.rotate-x-12 {
  transform: rotateX(20deg) rotateY(-10deg);
}

.translate-z-10 {
  transform: translateZ(20px);
}

.translate-z-20 {
  transform: translateZ(40px);
}

.translate-z-30 {
  transform: translateZ(60px);
}